/* Resetowanie marginesów i paddingów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylizacja całej strony */
body {
    background-color: #f7eaca;
    color: #000222;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    padding: 250px 0 20px; /* Zwiększony padding dla większego odstępu */
}

/* Nagłówek */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 80px;
    border-bottom: 1px solid #ddd;
}

/* Sekcja hero */
#hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 20px;
    padding: 15vh 15px 25vh; /* Zwiększony dolny padding dla większej przerwy przed "Moje Projekty" */
    margin: 0 auto;
}

/* Sekcja projektów */
#projects {
    width: 90%;
    margin: 20px auto; /* Zwiększony margines dla lepszego oddzielenia sekcji */
    padding: 80px 40px; /* Większy padding górny */
    background-color: #d4b996;
    border-radius: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#projects h2 {
    font-size: 3.5em;
    margin-bottom: 50px;
}

/* Galeria */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; /* Zmniejszona przerwa dla bardziej zwartego układu */
    justify-items: center;
    padding: 30px;
}

/* Projekty */
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    width: 100%;
    text-align: center;
    margin-bottom: 0.2rem; /* Mniejszy odstęp między projektami */
}

.project img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin-top: 5px; /* Zmniejszona odległość między obrazkiem a tytułem */
    border-radius: 5px;
    transition: 0.3s;
}

.thumbnail {
    height: 160px; /* Zmniejszona wysokość miniatur */
    object-fit: cover;
    border-radius: 10px;
}

/* Struktura projektów */
.main-projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8rem; /* Zmniejszony gap między projektami */
    align-items: flex-start;
}

.details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-start;
}

.details .project h3 {
    font-size: 1.2em;
    margin-bottom: 5px; /* Zmniejszona odległość między tytułem a opisem */
}

.details .project p {
    font-size: 1em;
    margin-bottom: 5px;
}
